

@layer base {
    :root {
      /* Grey Scale */
      --color-grey-100: #f5f6f7;
      --color-grey-200: #e1e4e9;
      --color-grey-300: #cfd3d9;
      --color-grey-400: #b4b8bd;
      --color-grey-500: #9a9ea3;
      --color-grey-600: #7f8286;
      --color-grey-700: #5f6164;
      --color-grey-800: #3b3c3e;
      --color-grey-900: #1C1C1C;
  
      /* Brand / Accent */
      --color-highlight: #E0FF7C;
      --color-folder: #f6f0ce;
  
      /* UI Colors */
      --color-footer: #1C1C1C;
      --color-button-bg: #1C1C1C;
      --color-button-text: #f5f6f7;
  
      --color-text-main: #170000;
      --color-text-muted: #7F7577;
      --color-background: #E7E9EE;
      --color-border: #C4C6CA;
      --color-link: #000;
      --color-accent: #E0FF7C;
    }
  }
  